# Virtual Environments
venv/
.venv/

# Python Cache
__pycache__/
*.pyc

# Local Test Folders
temp_test/
temp_*/

# Debugging Screenshots and Logs
*.png
server.txt
server_err.txt

# Environment Variables
.env
